 {
    "presets": [
      "es2015",
      "stage-0",
      "react"
    ],
    "compact" : true,
    "plugins": [
        [
            "import", {
                "libraryName": "antd",
                "style": true
            }
        ]
    ]
}