{
    "env": {
       "browser": true,
       "node": true,
       "es6": true
    },
    "parser": "babel-eslint",
    "ecmaFeatures": {
       "jsx": true
    },
    "extends": "airbnb",
    "installedESLint": true,
    "globals": {
      "__DEV__": true,
      "__PROD__": true,
      "__TEST__": true,
      "window": true,
      "document": true,
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
        "linebreak-style": "off",
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "no-console": "off",
        "comma-dangle": ["error", "never"],
        "semi": ["error", "always", { "omitLastInOneLineBlock": true}],
        "arrow-parens": ["error", "as-needed"],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
        "import/prefer-default-export": "off",
        "import/extensions": "off",
        "global-require": "off",
        "func-names": "off",
        "no-extra-semi": "error",
    },
    "settings": {
        "import/extensions": [".js", ".jsx"],
    }
};